<div class="content">
  <app-sidebar [isCollapsed]="isCollapsed" (toggleSidebar)="toggleSidebar()"></app-sidebar>
  <div class="contentContainer">
    <div class="info">
    <div class="header">
      <h2>Dashboard</h2>
      <div>Hello {{ loggedInUser?.name }}</div>
 
      <h1>Buy Energy</h1>
      <input type="number" [(ngModel)]="energyAmount" placeholder="Energy Amount">
      <button (click)="buyEnergy()">Buy Energy</button>
    </div>

    <div class="consumer-info">
      <h2>Get Consumer Info</h2>
      <div>
        <label for="email">Email:</label>
        <button (click)="getConsumerInfo()">Get Info</button>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div *ngIf="consumerInfo">
        <h3>Consumer Info:</h3>
        <p><strong>Address:</strong> {{ consumerInfo.address }}</p>
        <p><strong>Energy Balance:</strong> {{ consumerInfo.energyBalance }}</p>
        <p><strong>Ether Balance:</strong> {{ consumerInfo.etherBalance }}</p>
      </div>
    </div>
  </div>
    <!-- Chart 1: Energy Chart -->
    <div class="chart-container">
      <div>
      <h2>Energy Chart</h2>
      <canvas id="energyChart" width="400" height="200"></canvas>
    </div>
    <div>
      <h2>Ethereum Chart</h2>
      <canvas id="ethereumChart" width="400" height="200"></canvas>
    </div>
    </div>
  </div>
</div>